{% extends "base.html" %}
{% load i18n account socialaccount %}

{% block page_header %}
<div class="container mt-5">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container py-5 mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="text-center mb-4">{% trans "Log In" %}</h2>

          <form method="post" action="{% url 'account_login' %}" class="login-form">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn allauth-success-btn w-100 rounded-1 border border-black border-1 mt-3">
              {% trans "Log In" %}
            </button>
          </form>

          <!-- OR -->
          <div class="position-relative text-center my-4">
            <hr>
            <span class="position-absolute top-50 start-50 translate-middle bg-white px-3 text-muted">Or</span>
          </div>

          <a href="{% provider_login_url 'google' %}" class="btn allauth-danger-btn w-100 rounded-1 border border-black border-1">
            <i class="fab fa-google me-2"></i> {% trans "Continue with Google" %}
          </a>

          <p class="mt-3 text-center">
            <a class="text-decoration-underline link-primary" href="{% url 'account_reset_password' %}">{% trans "Forgot password?" %}</a>
          </p>
          <p class="mt-3 text-center">
            Don't have an account yet? <a class="text-decoration-underline link-primary" href="{% url 'account_signup' %}">Register here</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}