{% extends "base.html" %}
{% load static %}

<!-- Header -->
{% block page_header %}
<div class="container-fluid header-container d-flex align-items-center justify-content-end h-100">
        <div class="text-end me-5">
            <h1 class="display-2 logo-font text-black mt-5">Train Smarter, Not Harder</h1>
            <div class="my-3">
                <a href="#" class="btn btn-lg rounded-0 text-uppercase py-3 browse-courses-button">Browse Courses</a>
            </div>
        </div>
    </div>
{% endblock %}
