html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Archivo';
    color: black;
    min-height: 100vh;
}

body.home-page {
    background: url('/media/homepage_header.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: 25% center;
    overflow: hidden; /* Stop page from scrolling on home page */
}

header {
    border-bottom: 2px solid #000 !important;
}

/* Toggler icon in navbar on mobile */
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    height: 48px;
    display: flex;
    align-items: center;
}

#main-nav {
    background-color: #000;
    width: 100%;
}

.navbar-toggler-icon {
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    filter: invert(100%);
}

.main-nav-link {
    background-color: transparent;
    color: white;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.main-nav-link:hover,
.main-nav-link:active,
.main-nav-link:focus {
    background: #e9d985;
    color: black;
}

.about-us-section {
    max-width: 880px;
}

.logo-font {
    text-transform: none !important;
    font-weight: 700;
}

.main-logo-link {
    width: fit-content;
}

.browse-courses-button,
.add-to-cart-btn {
    background: #f06543;
    color: black;
    min-width: 260px;
}

.search-btn {
    background: #f06543;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons {
    color: black;
    transition: color 0.2s ease;
}

.social-icons:hover {
    color: #f06543;
}

.browse-courses-button:hover,
.sbrowse-courses-button:active,
.browse-courses-button:focus,
.search-btn:hover,
.search-btn:active,
.search-btn:focus,
.add-to-cart-btn:hover,
.add-to-cart-btn:active,
.add-to-cart-btn:focus {
    background: #f09d51;
    color: black;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Bundles and Courses page headers */
.list-pages-headers {
    padding-top: 4rem !important;
    padding-bottom: 6rem !important;
}

/* -------------------------------- Toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999999;
}

.cart-notification-wrapper{
    max-height: 160px;
    overflow-x: hidden;
    overflow-y: auto;
}

.view-cart-btn {
    background-color: transparent !important;
}

.view-cart-btn:hover {
    background-color: #aae1e7 !important;
}

/* -------------------------------- Courses page */

body.courses-page {
    background: white;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
    width: 100%;
}

.card-footer {
    background-color: transparent;
    border-top: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.card {
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    color: #000;
    transition: color 0.2s ease
}

.card-title:hover,
.card-title:active {
    color: #227c9d;
}

.course-category {
    color: #f06543;
}

.course-category:hover {
    text-decoration: underline solid;
}

.card a {
    text-decoration: none;
    color: black;
}

/* courses page add to cart on cards */
.add-to-cart-link {
    color: black !important;
    background-color: transparent;
    transition: background-color 0.3s ease;
    font-weight: 500;
}

.add-to-cart-link:hover {
    background-color: #aae1e7 !important;
}

/* -------------------------------- Course Detail page */

body.course-detail {
    background: white;
}

.course-detail-header {
    background: #AAE1E7;
    background: linear-gradient(0deg,rgba(170, 225, 231, 0.32) 12%, rgba(170, 225, 231, 1) 100%);
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;

}

/* -------------------------------- Course Detail page */

.incl-courses-links {
    color: black;
    text-decoration: none;
}

.incl-courses-links:hover {
    color: #227c9d;
    text-decoration: underline solid 1px !important;
}

/* -------------------------------- Cart page */

/* class for the empty and not empty cart as well */
.cart-browse-btn {
    border: none;
    color: #000;
    background-color: transparent;
    transition: background-color 0.2s ease, color 0.2 ease;
}

.cart-browse-btn:hover,
.cart-browse-btn:focus {
    background-color: #aae1e7;
    text-decoration: none;
}

a.secure-checkout-btn {
    background: #f06543 !important;
    color: black;
}

a.secure-checkout-btn:hover,
a.secure-checkout-btn:active,
a.secure-checkout-btn:focus {
    background: #f09d51 !important;
    color: black;
}

.remove-item {
    text-decoration: none;
}

.remove-item:hover {
    text-decoration: underline solid 1px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* Add in if any added content is hidden by the nav on mobile later */
/* @media (max-width: 991px) {
    body.courses-page {
        padding-top: 116px;
    }
} */
