{% extends "base.html" %}
{% load static %}

{% block body_class %}course-detail{% endblock %}

{% block page_header %}
    <div class="container-fluid course-detail-header pt-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                    {% if course.image %}
                        <img src="{{ course.image.url }}" alt="{{ course.title }}" class="img-fluid rounded mb-5 mt-5" loading="lazy">
                    {% else %}
                        <img src="{{ MEDIA_URL }}{% static 'images/noimage.jpg' %}" alt="No image available" class="img-fluid rounded mb-5 mt-5" loading="lazy">
                    {% endif %}
                </div>
                <div class="col-12 col-md-6 text-center text-md-start">
                    <h1 class="logo-font mb-3">{{ course.title }}</h1>
                    <p class="lead mb-4">{{ course.description }}</p>
                    <p class="card-text"><strong><i class="fa-solid fa-calendar me-2"></i> Training Duration: </strong>{{ course.get_time_frame_display }}</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}


{% block content %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                {% if has_access %}
                    <div class="course-content">
                        {{ course.content|safe }}
                    </div>
                {% else %}
                <div class="text-center">
                    <p class="lead">In order to gain access to the course, please purchase it first.</p>
                    <form action="{% url 'add_to_cart' course.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        <button type="submit" class="btn btn-lg rounded-1 text-uppercase py-3 border border-black border-1 add-to-cart-btn">
                           <i class="fa-solid fa-cart-shopping me-1"></i> Add to cart
                        </button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
 