{% load static %}
<!doctype html>
<html lang="en">

  <head>
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- responsive design on mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    <!-- Page title -->
    <title>Pawgress
        <!-- Opt.: Extra title for other pages -->
        {% block extratitle %}{% endblock %}
    </title>

    <!-- Opt.: Extra meta tags for other pages  -->
    {% block extrameta %}{% endblock %}

    <!-- Bootstrap core css -->
    {% block corecss %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    {% endblock %}

    <!-- Extra css for other pages -->
    {% block extracss %}{% endblock %}
  </head>

  <body>
    <!-- Fixed top header -->
    <header class="container-fluid fixed-top"></header>

    <!-- Django messages -->
    <div class="container mt-3">
        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    
    <main class="container mt-5 pt-5">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
    </main>

    <footer class="container mt-5 pt-4 border-top text-center"></footer>

     <!-- Bootstrap core JS -->
      {% block corejs %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock %}

    <!-- This runs after everything else -->
     {% block postloadjs %}{% endblock %}
  </body>
</html>